@font-face {
    font-family: "Lovelo Line Light";
    src: url('fonts/lovelo/LoveloLineLight.otf');
}

@font-face {
    font-family: "Glober SemiBold Free";
    src: url('fonts/glober/Glober SemiBold Free.otf');
}

.container-static {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 490px;
    background-image: url('./images/profile1.jpg');
    background-size: cover;
    background-position: center top;
}

@media (min-width: 768px){
  .container-static {
      float: left;
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 50%;
  }
}

.container-scroll {
    display: inline-block;
    padding: 30px 30px 0 30px;
    width: 100%;
}

@media (min-width: 768px){
  .container-scroll {
      float: right;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 50%;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      overflow-x: hidden;
  }
}

.splash-info, .splash-links{
    opacity: 0;
    width: 100%;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.8s;
    text-align: center;
}

.splash-links {
  background: #00000052;
  padding: 20px 0;
  margin-top: 200px;
}

.splash-links .fab {
  color: white;
  font-size: 30px;
  vertical-align: middle;
}

.medium-icon {
  border: 2px solid white;
}

@media (min-width: 768px){
  .splash-info{
      margin: 0;
      position: relative;
      top: 10%;
      transform: translateY(-20%);
  }
}

@media (min-width: 768px){
  .splash-links{
    position: absolute;
    bottom: 40px;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }


.splash-title, .splash-description, .splash-city{
  color: #ffffff;
  text-align: center;
}

.splash-description, .splash-city{
  width: 250px;
  margin: auto;
}

.splash-description {
  margin-bottom: 20px;
  font-size: 16px;
}

.splash-city {
  font-size: 18px;
  margin-top: -15px;
  margin-bottom: 15px;
}

.splash-content{
  width: 100%;
  height: 100%;
  background: #957D95; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #957D95, #ECCFC3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #957D95, #ECCFC3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #957D95, #ECCFC3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #957D95, #ECCFC3); /* Standard syntax */
}

.spash-contact {
  color: #fff;
  margin-top: 20px;
}

.spash-contact a {
  color: #fff;
  font-style: italic;
  font-weight: bold;
  display: block;
}

.splash-content  h1{
  font-family: "Lovelo Line Light";
  font-size: 100px;
  text-align: center;
}

.section-title{
  font-family: "Lovelo Line Light";
  font-size: 80px;
  font-weight: bold;
}

.section-title-small{
  font-size: 40px;
  color: #565656;
}

.splash-content .row{
  height: 100%;
}

.center-content h1, .center-content img {
  color: #ffffff;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  margin-top: 0;
}

.profile-image{
  width: 100%;
}

.row-spacing{
  margin-top: 50px;
  padding-top: 150px;
}

.row-spacing-sm{
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-white{
  color: #fff;
}

.bottom-divider{
  border-bottom: 1px solid #d6d6d6;
}

.full-height{
  height: 100%;
}

.full-height .center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.nav > li > a, .navbar {
  transition-duration: 0.5s;
}

.nav > li > a {
  color: #ffffff;
}

.nav > li > a:hover, .nav > li > a:focus{
  background-color: transparent;
}

.homepage-nav{
  background-color: transparent;
  color: #fff;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
}

.web-badge{
  width: 50px;
  background: transparent;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -o-transition: all 1s ease; /* IE 9 */
  -ms-transition: all 1s ease; /* Opera */
  transition: all 0.5s ease;
}

.web-badge:hover{
  -webkit-transform:scale(1.15); /* Safari and Chrome */
  -moz-transform:scale(1.15); /* Firefox */
  -ms-transform:scale(1.15); /* IE 9 */
  -o-transform:scale(1.15); /* Opera */
   transform:scale(1.15);
}

.web-badge-small{
  width: 40px;
}

.badges{
  margin-top: 15px;
  text-align: center;
}

.badge-overlay {
  position: relative;
  display: inline-block;
  transition: 0.5s ease-all;
}

.badge-overlay:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity: 0.3;
  background-color: #c7c7c7;
}

.badge-overlay:hover:after  {
  opacity: 0;
}

.small-row-margin{
  margin-top: 50px;
}

.smaller-row-margin{
  margin-top: 20px;
}

.sub-section-title{
  font-size: 18px;
  color:
}

.small-work-image{
  float: right;
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 400px;
}

.small-work-item{
  color: #000;
  margin: 20px 0;
}

.social-links{
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  margin-top: -10px;
}

.social-link{
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.splash-content-info{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  margin-top: -30px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}

.row h2{
  color: #756B70;
}

#contact{
  background-color: #f9f9f9;
  height: 200px;
  padding-top: 50px;
}

.footer{
  padding: 20px;
}

.footer-email{
  color: #333;
}

.orange {
  background-color: #DB7F67;
}

.light-blue{
  background-color: #7AD3C3;
}

.lighter-blue{
  background-color: #aeeae0;
}

.purple{
  background-color: #8f8ad2;
}

.peach {
  background-color: #f9886c;
}

.green{
  background-color: #C2DA9F;
}

.orange{
  background-color: #fec43e;
}

.dark-blue{
  background-color: #2E4057;
}

.dark-yellow{
  background-color: #f8c687;
}

.brown {
  background-color: #c3bbaf;
}

.gray {
  background-color: #808080;
}

.work-item {
  text-align: center;
  color: #fff;
  padding: 100px;
}

.detail-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.detail-item-container {
  color: #fff;
  padding: 75px 0 0 0;
}

.detail-item p {
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.faded {
  color: #dedede;
}

.detail-img {
  height: 100px;
  width: auto;
  margin-bottom: 30px;
}

.detail-item {
  padding: 50px;
  border: 1px solid #dedede;
  height: 350px;
  max-width: 350px;
  margin: 0 8px 16px;
}

.detail-description{
  margin-bottom: 75px;
}

.contact-item{
  text-align: center;
  padding: 100px;
}

.work-item-title, .contact-title{
  font-family: "Glober SemiBold Free";
}

.work-item-title {
  font-size: 18px;
  color: #18a15e;
  text-decoration: none;
  margin-bottom: 10px;
}

.work-item-title:hover, .work-item-title:focus{
  text-decoration: none;
  color: #7acaa3;
}

.work-item-description, .contact-message{
  font-size: 15px;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.margin-top-40{
  margin-top: 40px;
}

.btn-orange{
  border: none;
  padding: 10px 30px;
  color: #DB7F67;
}

.btn-orange:hover, .btn-orange:active, .btn-orange:focus{
  background-color: #f9f9f9;
  color: #b54a2e;
}

.btn-blue{
  border: none;
  padding: 10px 30px;
  color: #549e92;
}

.btn-blue:hover, .btn-blue:active, .btn-blue:focus{
  background-color: #f9f9f9;
  color: #2a796c;
}

.btn-yellow{
  border: none;
  padding: 10px 30px;
  color: #f8c687;
}

.btn-yellow:hover, .btn-yellow:active, .btn-yellow:focus{
  background-color: #f9f9f9;
  color: #d2974c;
}

.width-800{
  max-width:800px;
}

.work-image{
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 500px;
  padding-bottom: 30px;
}

.tzoa-image{
  max-height: 300px;
}

.navbar-orange{
  background-color: #f9886c;
}

.navbar-green{
  background-color: #C2DA9F;
}

.navbar-purple {
  background-color: #8f8ad2;
}

.navbar-solid .nav > li > a {
    color: #fff;
}

.info-item-big-title {
  font-family: "Lovelo Line Light";
  font-size: 65px;
  color: #fff;
  font-weight: bold;
  margin-top: 200px;
}

.info-item-link-wrapper {
  margin-bottom: 20px;
}

.info-item-description {
  color: #fff;
  margin-bottom: 20px;
  font-size: 16px;
}

.info-item-external-link {
  color: #f1f0f0;
  vertical-align: middle;
  font-size: 16px;
}

.info-item-external-link:hover, 
.info-item-external-link:focus, 
.info-item-external-link:active {
  color: #e0dede;
}

.sync-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.info-item {
  font-family: "Glober SemiBold Free";
  padding-top: 150px;
  padding-bottom: 150px;
  color: #656464;
  text-align: center;
}

.school{
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 30px;
}

.personal-description{
  margin-top: 10px;
  font-size: 15px;
}

.navbar-brand {
  font-family: "Lovelo Line Light";
  color: #fff;
  font-size: 30px;
  margin-top: 5px;
}

.navbar-solid .navbar-brand, 
.navbar-solid a.navbar-brand:hover, 
.navbar-solid a.navbar-brand:active, 
.navbar-solid a.navbar-brand:focus   {
  color: #fff;
}


a.navbar-brand:hover, 
a.navbar-brand:active, 
a.navbar-brand:focus {
  color: #fff;
}

.iphone-img {
  height: 500px;
  margin-top: 100px;
}

.iphone-description {
  margin-top: 30px;
  text-align: left;
}

.phone-preview {
  height: 500px;
  padding-left: 100px;
  float: right;
}

@media (max-width: 800px) {
  .phone-preview {
    padding-left: 0;
    float: none;
  }
}

.navbar {
  margin-bottom: 0;
}

.btn-transparent {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}

.btn-transparent:hover, 
.btn-transparent:focus, 
.btn-transparent:active, 
.btn-transparent:focus:active {
    color: #e0dede;
    border-color: #e0dede;
    background-color: transparent;
}

.splash-padding {
  padding-bottom: 100px;
}

.inline {
  display: inline;
}

.center-text {
  text-align: center;
}

.footer-link {
  color: #18a15e;
}

.footer-link:hover, 
.footer-link:active, 
.footer-link:focus {
  text-decoration: none;
  color: #7acaa3;
}

.login-img {
  width: 100%;
  margin-top: 100px;
}

.girl {
  height: 50px;
}

.hr-bottom {
  border-bottom: 1px solid #d8d8d8;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
}

.icon-credit {
  font-size: 10px;
  color: #333;
  padding-top: 20px;
}

.icon-credit a {
  color: grey;
}

.icon-credit a:hover {
  color: grey;
  text-decoration:none;
}

.big-paragraph {
  font-size: 18px;
}

.planet {
  height: 100px;
  width: auto;
  margin-bottom: 40px;
}

.homepage-img {
  margin-top: 150px;
  width: 100%;
}

.no-bottom-pad {
  padding-bottom: 0;
}

.icon-bullet {
  height: 50px;
  width: auto;
  margin-right: 30px;
  display:inline-block;
  vertical-align:middle;
}

.bullet {
  margin-bottom: 75px;
}

.bullet p {
  vertical-align: middle;
  margin-left: 80px;
}

.content-holder {
  display:inline-block;
  vertical-align:middle;
}

.img-center-block {
  width: 100%;
  margin-bottom: 75px;
}

.split-footer {
  border-top: 1px solid #d3d3d3;
  margin-top: 50px;
  padding: 20px 10px;
  margin-left: -10px;
  margin-right: -10px;
  text-align: center;
}

.content {
  min-height: calc(100% - 150px);
}

.popup-page {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 300px);
  height: calc(100% - 50px);
  margin-top: 50px;
  margin-left: 150px;
  background-color: #fff;
  border-radius: 4px 4px 0 0;
  border: 1px solid #cacaca;
  overflow-y: scroll;
  -webkit-box-shadow: 0px 0px 125px 3px rgba(66,66,66,1);
  -moz-box-shadow: 0px 0px 125px 3px rgba(66,66,66,1);
  box-shadow: 0px 0px 125px 3px rgba(66,66,66,1);  
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(105, 105, 105, 0.61);
  display: none;
}


.close-button {
  position: absolute;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
  z-index: 1;
  color: #ffffff;
}

@media (max-width: 860px) {
  .popup-page {
    width: calc(100% - 100px);
    margin-left: 50px;
  }

  .popup-page .row {
    margin: 0;
  }
}


@media (max-width: 600px) {
  .popup-page {
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.read-more {
  float: right;
  color: #b97c3c;
}

.read-more:hover {
  text-decoration: none;
  color: #92612e;
}



img.emoji {
  margin: 0px !important;
  display: inline !important;
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

.fav-title {
  font-size: 24px;
}

.fav-section {
  border-top: 1px solid #808080;
}

.fav-title {
  margin: 50px 0 20px;
  text-align: center;
  font-size: 24px;
}

.noscroll {
  overflow: hidden;
}

