@font-face {
    font-family: "Lovelo Line Light";
    src: url('fonts/lovelo/LoveloLineLight.otf');
}

@font-face {
    font-family: "Glober SemiBold Free";
    src: url('fonts/glober/Glober SemiBold Free.otf');
}

.container-static {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 490px;
    background-image: url('../profile.jpg');
    background-size: cover;
    background-position: center top;
}

@media (min-width: 768px){
  .container-static {
      float: left;
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 50%;
  }
}

.container-scroll {
    display: inline-block;
    padding: 30px 30px 0 30px;
}

@media (min-width: 768px){
  .container-scroll {
      float: right;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 50%;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      overflow-x: hidden;
  }
}

.splash-info, .splash-links{
    opacity: 0;
    width: 100%;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-delay: 0.3s;
    text-align: center;
}

@media (min-width: 768px){
  .splash-info{
      margin: 0;
      position: relative;
      top: 10%;
      transform: translateY(-20%);
  }
}

@media (min-width: 768px){
  .splash-links{
    position: absolute;
    bottom: 40px;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }


.splash-title, .splash-description, .splash-city{
  color: #ffffff;
  text-align: center;
}

.splash-description, .splash-city{
  width: 250px;
  margin: auto;
}

.splash-description {
  margin-bottom: 20px;
}

.splash-city {
  font-size: 16px;
  margin-top: -15px;
  margin-bottom: 15px;
}

.splash-content{
  width: 100%;
  height: 100%;
  background: #957D95; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #957D95, #ECCFC3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #957D95, #ECCFC3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #957D95, #ECCFC3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #957D95, #ECCFC3); /* Standard syntax */
}

.splash-content  h1{
  font-family: "Lovelo Line Light";
  font-size: 100px;
  text-align: center;
}

.section-title{
  font-family: "Lovelo Line Light";
  font-size: 40px;
}

.section-title-small{

  font-size: 30px;
}

.splash-content .row{
  height: 100%;
}

.center-content h1, .center-content img {
  color: #ffffff;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  margin-top: 0;
}

.profile-image{
  width: 100%;
}

.row-spacing{
  margin-top: 50px;
  padding-top: 150px;
}

.row-spacing-sm{
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-white{
  color: #fff;
}

.bottom-divider{
  border-bottom: 1px solid #d6d6d6;
}

.full-height{
  height: 100%;
}

.full-height .center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.nav > li > a, .navbar {
  transition-duration: 0.5s;
}

.nav > li > a {
  color: #ffffff;
}

.nav > li > a:hover, .nav > li > a:focus{
  background-color: transparent;
}

.homepage-nav{
  background-color: transparent;
  color: #fff;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
}

/*.center-profile{
  position: relative;
  transform: translateY(50%);
}*/

.web-badge{
  width: 50px;
  background: transparent;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -o-transition: all 1s ease; /* IE 9 */
  -ms-transition: all 1s ease; /* Opera */
  transition: all 0.5s ease;
}

.web-badge:hover{
  -webkit-transform:scale(1.15); /* Safari and Chrome */
  -moz-transform:scale(1.15); /* Firefox */
  -ms-transform:scale(1.15); /* IE 9 */
  -o-transform:scale(1.15); /* Opera */
   transform:scale(1.15);
}

.web-badge-small{
  width: 40px;
  height: 40px;
}

.badges{
  /*margin-left: auto;
  margin-right: auto;
  width: 510px;*/
  margin-top: 15px;
  text-align: center;
}

.badge-overlay {
  position: relative;
  display: inline-block;
  transition: 0.5s ease-all;
}

.badge-overlay:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity: 0.3;
  background-color: #c7c7c7;
}

.badge-overlay:hover:after  {
  opacity: 0;
}

.small-row-margin{
  margin-top: 50px;
}

.smaller-row-margin{
  margin-top: 20px;
}

.sub-section-title{
  font-size: 18px;
  color:
}

.small-work-image{
  float: right;
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 400px;
}

.small-work-item{
  color: #000;
  margin: 20px 0;
}

.social-links{
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  margin-top: -10px;
}

.social-link{
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.splash-content-info{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  margin-top: -30px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}

.row h2{
  color: #756B70;
}

#contact{
  background-color: #f9f9f9;
  height: 200px;
  padding-top: 50px;
}

.footer{
  padding: 20px;
}

.footer-email{
  color: #333;
}

.edu-item{

}

.orange {
  background-color: #DB7F67;
}

.light-blue{
  background-color: #7AD3C3;
}

.lighter-blue{
  background-color: #aeeae0;
}

.purple{
  background-color: #8f8ad2;
}

.peach {
  background-color: #f9886c;
}

.green{
  background-color: #C2DA9F;
}

.dark-blue{
  background-color: #2E4057;
}

.dark-yellow{
  background-color: #f8c687;
}

.brown {
  background-color: #c3bbaf;
}

.work-item{
  text-align: center;
  color: #fff;
  padding: 100px;
}

.ux-item{
  color: #fff;
  padding: 75px 0 0 0;
}

.ux-item p {
  font-size: 16px;
}

.bold{
  font-weight: bold;
}

.faded{
  color: #dedede;
}

.ux-img{
  height: 100px;
  width: auto;
  margin-bottom: 30px;
}

.ux-item-detail{
  padding: 50px;
  border-top: 1px solid #dedede;
  border-right: 1px solid #dedede;
}

.ux-description{
  margin-bottom: 75px;
}

.contact-item{
  text-align: center;
  padding: 100px;
}

.work-item-title, .contact-title{
  font-family: "Glober SemiBold Free";
}

.work-item-title {
  font-size: 18px;
  color: #18a15e;
  text-decoration: none;
  margin-bottom: 10px;
}

.work-item-title:hover, .work-item-title:focus{
  text-decoration: none;
  color: #7acaa3;
}

.work-item-description, .contact-message{
  font-size: 15px;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.margin-top-40{
  margin-top: 40px;
}

.btn-orange{
  border: none;
  padding: 10px 30px;
  color: #DB7F67;
}

.btn-orange:hover, .btn-orange:active, .btn-orange:focus{
  background-color: #f9f9f9;
  color: #b54a2e;
}

.btn-blue{
  border: none;
  padding: 10px 30px;
  color: #549e92;
}

.btn-blue:hover, .btn-blue:active, .btn-blue:focus{
  background-color: #f9f9f9;
  color: #2a796c;
}

.btn-yellow{
  border: none;
  padding: 10px 30px;
  color: #f8c687;
}

.btn-yellow:hover, .btn-yellow:active, .btn-yellow:focus{
  background-color: #f9f9f9;
  color: #d2974c;
}

.width-800{
  max-width:800px;
}

.work-image{
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 500px;
  padding-bottom: 30px;
}

.tzoa-image{
  max-height: 300px;
}

.navbar-orange{
  background-color: #f9886c;
}

.navbar-green{
  background-color: #C2DA9F;
}

.navbar-purple {
  background-color: #8f8ad2;
}

.navbar-solid .nav > li > a {
    color: #fff;
}

.info-item-big-title{
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  margin-top: 200px;
}

.info-item-description{
  color: #fff;
  margin-bottom: 50px;
  font-size: 16px;
}

.info-item-external-link {
  color: #f1f0f0;
  font-size: 30px;
  margin-left: 30px;
  vertical-align: middle;
}

.info-item-external-link:hover, .info-item-external-link:focus, .info-item-external-link:active{
  color: #e0dede;
}

.sync-img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.info-item{
  /*text-align: center;*/
  font-family: "Glober SemiBold Free";
  padding-top: 150px;
  padding-bottom: 150px;
  color: #656464;
}

.school{
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 30px;
}

.personal-description{
  margin-top: 10px;
  font-size: 15px;
}

.navbar-brand {
  font-family: "Lovelo Line Light";
  color: #fff;
  font-size: 30px;
  margin-top: 5px;
}

.navbar-solid .navbar-brand, .navbar-solid a.navbar-brand:hover, .navbar-solid a.navbar-brand:active, .navbar-solid a.navbar-brand:focus   {
  color: #fff;
}


a.navbar-brand:hover, a.navbar-brand:active, a.navbar-brand:focus {
  color: #fff;
}

.iphone-img{
  height: 500px;
  margin-top: 100px;
}

.iphone-description{
  margin-top: 30px;
}

.safe-iphone{
  height: 500px;
  padding-left: 100px;
}

.navbar {
  margin-bottom: 0;
}

.btn-transparent{
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}

.btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active, .btn-transparent:focus:active {
    color: #e0dede;
    border-color: #e0dede;
    background-color: transparent;
}

.splash-padding{
  padding-bottom: 100px;
}

.inline{
  display: inline;
}

.center-text{
  text-align: center;
}

.footer-link{
  color: #18a15e;
}

.footer-link:hover, .footer-link:active, .footer-link:focus {
  text-decoration: none;
  color: #7acaa3;
}

.login-img{
  width: 100%;
  margin-top: 100px;
}

.girl {
  height: 50px;
}

.hr-bottom{
  border-bottom: 1px solid #d8d8d8;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
}

.icon-credit{
  font-size: 10px;
  color: #333;
  padding-top: 20px;
}

.icon-credit a {
  color: grey;
}

.icon-credit a:hover{
  color: grey;
  text-decoration:none;
}

.big-paragraph{
  font-size: 18px;
}

.planet {
  height: 100px;
  width: auto;
  margin-bottom: 40px;
}

.homepage-img{
  margin-top: 150px;
  width: 100%;
}

.sync-img{
  margin-top: 150px;
  width: 80%;
}

.no-bottom-pad{
  padding-bottom: 0;
}

.icon-bullet{
  height: 50px;
  width: auto;
  margin-right: 30px;
  display:inline-block;
  vertical-align:middle;
}

.bullet{
  margin-bottom: 75px;
}

.bullet p{
  vertical-align: middle;
  margin-left: 80px;
}

.content-holder{
  display:inline-block;
  vertical-align:middle;
}

.styleguide-img{
  width: 100%;
  margin-bottom: 75px;
}

.styleguide-info{
  margin-top: 75px;
}

.styleguide-info h3{
  margin-bottom: 20px;
}

/* Icon Wobble Horizontal */
@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* Icon Wobble Vertical */
@-webkit-keyframes icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.hvr-icon-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-wobble-horizontal:before {
  content: "\f061";
  position: absolute;
  right: 0em;
  padding: 0 1px;
  font-size: 15px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-wobble-horizontal:hover:before, .hvr-icon-wobble-horizontal:focus:before, .hvr-icon-wobble-horizontal:active:before {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.icon-wobble-vertical{
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding-right: 2.2em;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;

}

.icon-wobble-vertical:before{
  content: '\f063';
  font-family: FontAwesome;
  font-size: 15px;
  right: 0em;
  position: absolute;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.icon-wobble-vertical:hover:before, .icon-wobble-vertical:focus:before, .icon-wobble-vertical:active:before {
  -webkit-animation-name: icon-wobble-vertical;
  animation-name: icon-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.split-footer {
  border-top: 1px solid #d3d3d3;
  margin-top: 50px;
  padding: 20px 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.content {
  min-height: calc(100% - 150px);
}

.popup-page {
  display: none;
  position: absolute;
  width: calc(100% - 100px);
  height: calc(100% - 50px);
  margin-top: 50px;
  margin-left: 50px;
  /*box-shadow: 0 0 70px 5px rgba(171, 171, 171, 0.78);*/
  background-color: #fff;
  border-radius: 4px 4px 0 0;
  border: 1px solid #cacaca;
  overflow-y: scroll;
}

.popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(105, 105, 105, 0.61);
  display: none;
}

.read-more {

}

.read-more:hover {
  text-decoration: none;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  cursor: pointer;
}
